@page "/games"
@inject HttpClient Http
@inject IHttpClientFactory HttpClientFactory
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<h3>ListGames</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var url = Configuration["GameServiceRoot"];
            var client = HttpClientFactory.CreateClient("Game.Client.ServerAPI");
            var address = client.BaseAddress.AbsoluteUri.ToString();
            System.Diagnostics.Debug.WriteLine(client.BaseAddress.AbsoluteUri.ToString());
            var json = await client.GetAsync($"game");
            var content = await json.Content.ReadAsStringAsync();
            base.OnInitializedAsync();
        }
        catch(Exception ex)
        {
            System.Diagnostics.Debug.WriteLine($"{ ex.Message}\r\n { ex.ToString()}");
        }
    }
}
