@page "/games"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Game.Client.Shared
@attribute [Authorize]
@inject HttpClient Http
@inject IHttpClientFactory factory;
<h1>Card Games</h1>
@if (games == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Hand Size</th>
                <th>How Many Decks</th>
                <th>Progressive Deal?</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in games)
            {
                <tr>
                    <td>@game.NumberOfCardsToDeal.ToString()</td>
                    <td>@game.NumberOfDecks</td>
                    <td>@game.ProgressiveDeal</td>
                    <td>@game.RowKey</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Game.Entities.Game> games;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var otherClient = factory.CreateClient("gameAPI");
            games = await otherClient.GetFromJsonAsync<List<Game.Entities.Game>>("/api/game");

            Console.WriteLine(games.Count);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch(HttpRequestException ex)
        {
            var exType = ex.GetType().Name;
            Console.WriteLine(ex.Message);
        }
    }

}
