@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
/*https://css-tricks.com/dont-overthink-flexbox-grids/*/
.flex-grid {
    display: flex;
}

.container {
    --d: 60px; /* image size */
    --rel: 1; /* how much extra space we want between images, 1 = one image size */
    --r: calc(.5*(1 + var(--rel))*var(--d)/var(--tan)); /* circle radius */
    --s: calc(2*var(--manualRadius) + var(--d)); /* container size */
    position: relative;
    width: var(--s);
    height: var(--s);
    background: silver /* to show images perfectly fit in container */
}

    .container div {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: calc(-.5*var(--d));
        width: var(--d);
        height: var(--d);
        --az: calc(var(--i)*1turn/var(--m));
        transform: rotate(var(--az)) translate(var(--manualRadius)) rotate(calc(-1*var(--az)))
    }

div {
    max-width: 100%;
}

.circle-container {
    position: relative;
    width: 24em;
    height: 24em;
    padding: 2.8em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    border: dashed 1px;
    border-radius: 50%;
    margin: 1.75em auto 0;
}

    .circle-container a {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 4em;
        height: 4em;
        margin: -2em;
    }

    .circle-container img {
        display: block;
        width: 100%;
    }

.deg0 {
    transform: translate(12em);
}
/* 12em = half the width of the wrapper */
.deg45 {
    transform: rotate(45deg) translate(12em) rotate(-45deg);
}

.deg135 {
    transform: rotate(135deg) translate(12em) rotate(-135deg);
}

.deg180 {
    transform: translate(-12em);
}

.deg225 {
    transform: rotate(225deg) translate(12em) rotate(-225deg);
}

.deg315 {
    transform: rotate(315deg) translate(12em) rotate(-315deg);
}

.card {
    display: flex;
    flex-direction: column;
    width: calc(100% / 4);
    border-width: 2px;
    border-color: black;
    border-style: solid;
    padding-bottom: 8%;
}

.cardselected {
    display: flex;
    flex-direction: column;
    width: calc(100% / 4);
    border-width: 2px;
    border-color: white;
    border-style: solid;
    padding-bottom: 8%;
}

.col {
    flex: 1;
}

.col2{
    flex:3;
}
.cell-label {
    padding-right: 20px;
}

.cell-value {
    padding-left: 20px;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
