<div class="playingCards faceImages  fourColours rotateHand">
    <div class="table">
        <ul class="hand">
            @foreach (Game.Entities.Card c in Cards.OrderByDescending(card => card.Rank))
            {
                if (DeckType.Equals(Entities.DeckType.Phase10))
                {
                    if (c.Suit.ToLower() == "yellow") c.Suit = "diams";
                    if (c.Suit.ToLower() == "green") c.Suit = "hearts";
                    if (c.Suit.ToLower() == "blue") c.Suit = "clubs";
                    if (c.Suit.ToLower() == "red") c.Suit = "spades";
                }
                <Card Suit="@c.Suit" Rank="@c.Rank" DeckType="@DeckType" />
            }
        </ul>
    </div>
</div>

@code {
    [Parameter]
    public List<Game.Entities.Card> Cards { get; set; }
    [Parameter]
    public Entities.DeckType DeckType { get; set; }
}
