@using StateManager
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.SignalR.Client
@inherits LayoutComponentBase
@inject TasksStateService tasksStateService
@inject NavigationManager nav;
<div class="page">
    <div class="main">
        <div class="top-row px-4 auth" id="topRow">
            <LoginDisplay />
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        nav.LocationChanged += UserNavigated;
    }
    public void UserNavigated(object sender, LocationChangedEventArgs args)
    {
        Console.WriteLine(args.Location);
    }
}
