<div style="width: calc(100% / 4); border-width: 2px; border-color: black; border-style: solid;background-color:@Colour.ToLower();padding-bottom:8%;">
    @if (Value < 100)
    {
        <div>@Value</div>
    }
    else
    {
        @if (Value==100)
        {
            <div>Wild</div>
        }
        @if (Value==200)
        {
            <div>Skip</div>
        }
    }
</div>
@code {
    [Parameter]
    public string Colour { get; set; }
    [Parameter]
    public int Value { get; set; }
    [Parameter]
    public bool Wild { get; set; }
    [Parameter]
    public bool Skip { get; set; }
}